.sidebar__logo {
  color: #fff;
  margin: 30px 0;

  img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  font-weight: 500;

  .ant-menu-item {
    color: #fff;
  }

  .ant-menu-item:hover {
    color: #fff !important;
    transition: 0.5s ease; 
  }

  // .ant-menu-item-active{
  //   color: none;
  // }
}

.ant-menu-item-selected {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  margin: 0 !important;
}

.ant-layout-sider {
  height: 100vh !important;
  background-color: #0766ad !important;
}

.ant-menu {
  align-items: center;
  border-right: none !important;
  background-color: transparent;
}

.ant-menu-item {
  margin: 1px !important;
}
